
@font-face {
  font-family: 'Noto Serif';
  src: url('../fonts/NotoSerif.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('../fonts/BricolageGrotesque-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background: #fffffe;
  color: #2b2b2b;
  font-size: 1em;
  padding: 20px;
  max-width: 1200px;
  margin: 0px auto;
  text-align: left;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.header-img {
  height: 96px;
  width: 96px;
}

.header-title {
  font-size: 1.75em;
  margin: 0;
}

h1 {
  font-family: 'Bricolage Grotesque', serif;
  font-weight: 800;
	line-height: 1em;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.63);
  position: relative;
  color: #101010;
  font-size: 1.75em;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.item {
  position: relative;
  border: 1px solid #000;
  margin-bottom: 20px;
  padding: 30px;
  color: #000;
  overflow: hidden;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
  transition: transform 0.9s ease-in-out;
}

.item:hover {
  transform: rotateY(360deg);
}

.item-title {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.25em;
  padding: 5px 10px;
  border: 1px solid #000;
  color: #000;
}

.item p {
  margin-top: 25px;
  line-height: 1.5;
  text-align: left;
  vertical-align: middle;
}

.item:nth-child(1) {
  background-color: #ffc1e3;
}

.item:nth-child(1) .item-title {
  background-color: #d81b60;
}

.item:nth-child(2) {
  background-color: #ff7f7f;
}

.item:nth-child(2) .item-title {
  background-color: #b71c1c;
}

.item:nth-child(3) {
  background-color: #fff59d;
}

.item:nth-child(3) .item-title {
  background-color: #f9a825;
}

@media (min-width: 992px) {
  item p {
    margin-top: 30px;
  }

  .item {
    float: left;
    width: calc(33.33% - 20px);
    margin: auto 10px;
    min-height: 300px;
    height: 45vh;
  }

  .item:first-child {
    margin-left: 4px;
  }

  .item:last-child {
    margin-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .item {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    height: 30vh;
  }

  .item:nth-child(1),
  .item:nth-child(2) {
    float: left;
    width: calc(50% - 20px);
    height: 44vh;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .item:nth-child(3) {
    width: calc(100% - 10px);
    margin-left: 0px;
    margin-right: 10px;
  }

  .item:first-child {
    margin-left: 0;
  }

  .item:nth-child(2) {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .item {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.1),
  (min--moz-device-pixel-ratio: 1.1),
  (-o-min-device-pixel-ratio: 10/9),
  (min-resolution: 1.1dppx),
  (min-width: 1500px) {
  .item {
    height: auto;
  }
}
